{% extends "base.html" %}
{% block foundationcss %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/foundation.css') }}">
{% endblock %}

{% block content %}
    <div id="body-wrapper" class="body-wrapper">
        <div class="header">
            <div class="row">
                <div class="logo col-6 col-m-6 col-s-6 vertical-align-content">
                    Auto Exam
                </div>
                <div class="header-nav col-6 col-m-6 col-s-6 vertical-align-content">
                    <nav class="navigation">
                        <ul>
                            <li><a href="{{ url_for('.index') }}">Home</a></li>
                            <li class="has-submenu">
                                <a href="#">Explore</a>
                                <ul class="submenu-menu">
                                    <li class="border-bottom"><a href="#features">About</a></li>
                                    <li class="border-top border-bottom"><a href="#features">Features</a></li>
                                    <li class="border-top"><a href="#features">Contact Us</a></li>
                                </ul>
                            </li>
                            <!--<li><a href="#features">About</a></li>
                            <li><a href="#features">Features</a></li>
                            <li><a href="#features">Contact Us</a></li>-->
                            {% if 'loginid' in session %}
                                <li><a href="{{ url_for('autoExam.index') }}">Dashboard</a></li>
                                <li><a href="{{ url_for('.logout') }}">Sign Out</a></li>
                            {% else %}
                                <li><a href="{{ url_for('.signup') }}">Sign Up</a></li>
                                <li><a href="{{ url_for('.login') }}">Log In</a></li>
                            {% endif %}
                            <!--<li><a href="/">Home</a></li>
                            <li><a href="#features">Features</a></li>
                            <li><a href="/signup">Sign up</a></li>
                            <li><a href="/login">Log in</a></li>-->
                        </ul>
                    </nav>
                </div>
            </div>
        </div>

        <div class="row landing-bg">
            <div class="landing-container">
                <div class="landing-content vertical-align-content align-center">
                    {% block content1 %}
                    {% endblock %}
                </div>
            </div>
        </div>
        {% block content2 %}
        {% endblock %}
    </div>
{% endblock %}
{% block foundationjs %}
    <script src="{{ url_for('static', filename='js/vendor/foundation.js') }}"></script>
{% endblock %}