{% extends "home/base.html" %}
{% block content1 %}
    <h1>And</h1>
    <h1>Discover Amazing Places</h1>
{% endblock %}

{% block content2 %}
<div class="row main-content">
    <div class="row respo">
        <div class="col-6 col-m-6 col-s-12">
            <img class="" src="{{ url_for('static', filename = 'images/library-150367_1280.png') }}" alt="">
        </div>
        <div class="col-6 col-m-6 col-s-12 vertical-align-content align-center">
            <p>Get rid of paper work and Simplify your World</p>
        </div>
    </div>

    <div class="row">
        <div class="col-12 features-heading">
            <h3>Our Features</h3>
        </div>
    </div>

    <div id="features" class="row features">
        <div class="col-4 col-m-6 col-s-12">
            <img class="" src="{{ url_for('static', filename = 'images/feature1.png') }}" alt="">
        </div>
        <div class="col-4 col-m-6 col-s-12">
            <img class="" src="{{ url_for('static', filename = 'images/feature2.png') }}" alt="">
        </div>
        <div class="col-4 col-m-6 col-s-12">
            <img class="" src="{{ url_for('static', filename = 'images/feature3.png') }}" alt="">
        </div>
        <div class="col-4 col-m-6 col-s-12">
            <img class="" src="{{ url_for('static', filename = 'images/feature4.png') }}" alt="">
        </div>
        <div class="col-4 col-m-6 col-s-12">
            <img class="" src="{{ url_for('static', filename = 'images/feature5.png') }}" alt="">
        </div>
        <div class="col-4 col-m-6 col-s-12">
            <img class="" src="{{ url_for('static', filename = 'images/feature6.png') }}" alt="">
        </div>
    </div>
</div>

<div class="row footer">
    footer
</div>

{% endblock %}