{% extends "autoExam/base.html" %}
{% block content1 %}
    <div id="breadcrums">
        <nav>
            <div class="nav-wrapper">
                <div class="col s12">
                    <a href="#!" class="breadcrumb">First</a>
                    <a href="#!" class="breadcrumb">Second</a>
                    <a href="#!" class="breadcrumb">Third</a>
                </div>
            </div>
        </nav>
    </div>

    <div class="content-container vertical-align-content">
        <div class="contents">
            <div class="registration">
                <div class="row">
                    <div class="col-12 form-header">
                        <h5>Marks Entry</h5>
                    </div>
                </div>
                <form action="">
                    <div class="row">
                        <div class="col-6" style="padding: 0">
                            <div class="row" style="padding: 0; margin: 0;">
                                <div class="col-6" style="padding-top: 0; padding-bottom: 0;">
                                    <div class="input-group">
                                        <label>Term:
                                            <select name="term" id="term">
                                                <option value="">Choose Term</option>
                                                <option value="Term 1">Term 1</option>
                                                <option value="Term 2">Term 2</option>
                                                <option value="Term 3">Term 3</option>
                                            </select>
                                        </label>
                                        <p class="help-text" id="termHelpText"></p>
                                    </div>
                                </div>
                                <div class="col-6" style="padding-top: 0; padding-bottom: 0;">
                                    <div class="input-group">
                                        <label>Year:
                                            <input id="year" type="text" placeholder="Year" aria-describedby="regDateHelpText">
                                        </label>
                                        <p class="help-text" id="yearHelpText"></p>
                                    </div>
                                </div>
                            </div>
                            <div class="row" style="padding: 0; margin: 0;">
                                <div class="col-6" style="padding-top: 0; padding-bottom: 0;">
                                    <div class="input-group">
                                        <label>Class / Form:
                                            <select name="adm_class" id="form">
                                                <option value="">Choose Form</option>
                                            {% for form in forms %}
                                                <option value="{{form[0]}}">{{ form[1] }}</option>
                                            {% endfor %}
                                            </select>
                                        </label>
                                        <p class="help-text" id="classHelpText"></p>
                                    </div>
                                </div>
                                <div class="col-6" style="padding-top: 0; padding-bottom: 0;">
                                    <div class="input-group">
                                        <label>Stream:
                                            <select name="stream">
                                                <option value="">Choose Stream</option>
                                                <option value="A">Block A</option>
                                                <option value="B">Block B</option>
                                                <option value="C">Block C</option>
                                            </select>
                                        </label>
                                        <p class="help-text" id="streamHelpText"></p>
                                    </div>
                                </div>
                            </div>
                            <!--<div class="row" style="padding: 0; margin: 0;">
                                <div class="col-6" style="padding-top: 0; padding-bottom: 0;">
                                    <div class="input-group">
                                        <label>Merit:
                                            <input type="text" placeholder="Merit" aria-describedby="regDateHelpText">
                                        </label>
                                        <p class="help-text" id="meritHelpText"></p>
                                    </div>
                                </div>
                                <div class="col-6" style="padding-top: 0; padding-bottom: 0;">
                                    <div class="input-group">
                                        <label>Merit Type:
                                            <input type="text" placeholder="Merit Type" aria-describedby="regDateHelpText">
                                        </label>
                                        <p class="help-text" id="typeHelpText"></p>
                                    </div>
                                </div>
                            </div>-->
                        </div>
                        <div class="col-6" style="padding-top: 0; padding-bottom: 0;">
                            <div class="input-group">
                                <label>Reg Number:
                                    <input id="marks_search_id" type="text" placeholder="Reg Number" aria-describedby="regNoHelpText">
                                </label>
                                <p class="help-text" id="regNoHelpText"></p>
                            </div>

                            <div class="input-group">
                                <label>Full Name:
                                    <input id="marks_full_name" type="text" placeholder="" aria-describedby="nameHelpText" readonly = true>
                                </label>
                                <p class="help-text" id="nameHelpText"></p>
                            </div>

                            <div class="input-group" style="text-align: right; padding-top: 20px">
                                <button id="search_marks_btn" type="submit" class="success button">Search Details</button>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-12">
                            <ul class="tabs" data-tabs id="example-tabs">
                                <li class="tabs-title is-active"><a href="#panel1" aria-selected="true">Individual</a></li>
                                <!--<li class="tabs-title"><a href="#panel2">Bulk Entry</a></li>-->
                            </ul>
                            <div class="tabs-content" data-tabs-content="example-tabs">
                                <div class="tabs-panel is-active" id="panel1">
                                    <table class="table table-bordered table-striped table-hover with-check">
                                        <thead>
                                            <tr style="border-top:1px solid #CDCDCD;">
                                                <th style="width:20%;">Code</th>
                                                <th>Subject</th>
                                                <th style="width:15%; text-align: center">Marks</th>
                                                <th style="width:10%;">Grade</th>
                                            </tr>
                                        </thead>
                                        <tbody id="marks_tbl_body">

                                        </tbody>
                                    </table>
                                </div>
                                <div class="tabs-panel" id="panel2">
                                    <div class="input-group">
                                        <label>Full Name:
                                            <input type="text" placeholder="Full Name" aria-describedby="subjectHelpText">
                                        </label>
                                        <p class="help-text" id="subjectHelpText"></p>
                                    </div>
                                    <table class="table table-bordered table-striped table-hover with-check">
                                        <thead>
                                            <tr style="border-top:1px solid #CDCDCD;">
                                                <th style="width:20%;">Code</th>
                                                <th>Subject</th>
                                                <th style="width:15%;">Marks</th>
                                                <th style="width:10%;">Grade</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td>Row 1</td>
                                                <td>Row 2</td>
                                                <td>Row 3</td>
                                                <td>Row 4</td>
                                            </tr>
                                            <tr>
                                                <td>Row 1</td>
                                                <td>Row 2</td>
                                                <td>Row 3</td>
                                                <td>Row 4</td>
                                            </tr>
                                            <tr>
                                                <td>Row 1</td>
                                                <td>Row 2</td>
                                                <td>Row 3</td>
                                                <td>Row 4</td>
                                            </tr>
                                            <tr>
                                                <td>Row 1</td>
                                                <td>Row 2</td>
                                                <td>Row 3</td>
                                                <td>Row 4</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row form-footer">
                        <div class="col-12">
                            <button type="button" class="success button">Save Details</button>
                            <button type="button" class="alert button">Clear Details</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}