{% extends "autoExam/base.html" %}
{% block content1 %}
    <div id="breadcrums">
        <nav>
            <div class="nav-wrapper">
                <div class="col s12">
                    <a href="#!" class="breadcrumb">First</a>
                    <a href="#!" class="breadcrumb">Second</a>
                    <a href="#!" class="breadcrumb">Third</a>
                </div>
            </div>
        </nav>
    </div>

    <div class="content-container vertical-align-content">
        <div class="contents">
            <div class="registration">
                <div class="row">
                    <div class="col-12 form-header">
                        <h5>Marks Entry</h5>
                    </div>
                </div>
                <form action="">
                    <div class="row">
                        <div class="col-6" style="padding: 0">
                            <div class="row" style="padding: 0; margin: 0;">
                                <div class="col-6" style="padding-top: 0; padding-bottom: 0;">
                                    <div class="input-group">
                                        <label>Term:
                                            <input type="text" placeholder="Term" aria-describedby="regDateHelpText">
                                        </label>
                                        <p class="help-text" id="termHelpText"></p>
                                    </div>
                                </div>
                                <div class="col-6" style="padding-top: 0; padding-bottom: 0;">
                                    <div class="input-group">
                                        <label>Year:
                                            <input type="text" placeholder="Year" aria-describedby="regDateHelpText">
                                        </label>
                                        <p class="help-text" id="yearHelpText"></p>
                                    </div>
                                </div>
                            </div>
                            <div class="row" style="padding: 0; margin: 0;">
                                <div class="col-6" style="padding-top: 0; padding-bottom: 0;">
                                    <div class="input-group">
                                        <label>Class/Form:
                                            <input type="text" placeholder="Class/Form" aria-describedby="regDateHelpText">
                                        </label>
                                        <p class="help-text" id="classHelpText"></p>
                                    </div>
                                </div>
                                <div class="col-6" style="padding-top: 0; padding-bottom: 0;">
                                    <div class="input-group">
                                        <label>Stream:
                                            <input type="text" placeholder="Stream" aria-describedby="regDateHelpText">
                                        </label>
                                        <p class="help-text" id="streamHelpText"></p>
                                    </div>
                                </div>
                            </div>
                            <div class="row" style="padding: 0; margin: 0;">
                                <div class="col-6" style="padding-top: 0; padding-bottom: 0;">
                                    <div class="input-group">
                                        <label>Merit:
                                            <input type="text" placeholder="Merit" aria-describedby="regDateHelpText">
                                        </label>
                                        <p class="help-text" id="meritHelpText"></p>
                                    </div>
                                </div>
                                <div class="col-6" style="padding-top: 0; padding-bottom: 0;">
                                    <div class="input-group">
                                        <label>Merit Type:
                                            <input type="text" placeholder="Merit Type" aria-describedby="regDateHelpText">
                                        </label>
                                        <p class="help-text" id="typeHelpText"></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-6" style="padding-top: 0; padding-bottom: 0;">
                            <div class="input-group">
                                <label>Reg Number:
                                    <input type="text" placeholder="Reg Number" aria-describedby="regNoHelpText">
                                </label>
                                <p class="help-text" id="regNoHelpText"></p>
                            </div>

                            <div class="input-group">
                                <label>Full Name:
                                    <input type="text" placeholder="Full Name" aria-describedby="regNoHelpText">
                                </label>
                                <p class="help-text" id="nameHelpText"></p>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-12">
                            <ul class="tabs" data-tabs id="example-tabs">
                                <li class="tabs-title is-active"><a href="#panel1" aria-selected="true">Tab 1</a></li>
                                <li class="tabs-title"><a href="#panel2">Tab 2</a></li>
                            </ul>
                            <div class="tabs-content" data-tabs-content="example-tabs">
                                <div class="tabs-panel is-active" id="panel1">
                                    <p>Vivamus hendrerit arcu sed erat molestie vehicula. Sed auctor neque eu tellus rhoncus ut eleifend nibh porttitor. Ut in nulla enim. Phasellus molestie magna non est bibendum non venenatis nisl tempor. Suspendisse dictum feugiat nisl ut dapibus.</p>
                                </div>
                                <div class="tabs-panel" id="panel2">
                                    <p>Suspendisse dictum feugiat nisl ut dapibus.  Vivamus hendrerit arcu sed erat molestie vehicula. Ut in nulla enim. Phasellus molestie magna non est bibendum non venenatis nisl tempor.  Sed auctor neque eu tellus rhoncus ut eleifend nibh porttitor.</p>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row form-footer">
                        <div class="col-12">
                            <button type="button" class="success button">Save Details</button>
                            <button type="button" class="alert button">Clear Details</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}