{% extends "autoExam/base.html" %}
{% block content1 %}
    <div id="breadcrums"></div>

    <div class="row" style="padding: 10px">
        <div class="col-6 col-m-6 cols-12" style="padding: 10px;">
            <div class="dashboard-container" style="padding: 10px; border: 0px solid; background: white">
                <div class="row" style="padding: 0; margin: 0">
                    <div class="col-12 form-header" style="padding: 0; margin: 0">
                        <h5 style="width: 100%">Annual Subject Performance</h5>
                    </div>
                </div>
                <canvas id="buyers" style="background: white; width: 100%;"></canvas>
            </div>
        </div>

        <div class="col-6 col-m-6 cols-12" style="padding: 10px;">
            <div class="dashboard-container" style="padding: 10px; border: 0px solid; background: white">
                <div class="row" style="padding: 0; margin: 0">
                    <div class="col-12 form-header" style="padding: 0; margin: 0">
                        <h5 style="width: 100%">Subject Performance</h5>
                    </div>
                </div>
                <canvas id="termly" style="background: white; width: 100%;"></canvas>
            </div>
        </div>
    </div>

    <div class="row" style="padding: 0px 10px">
        <div class="col-3 col-m-3 cols-12" style="padding: 10px; border: 0px solid">
            <div class="dashboard-container" style="padding: 10px; border: 0px solid; background: white">
                <div class="row" style="padding: 0; margin: 0">
                    <div class="col-12 form-header" style="padding: 0; margin: 0">
                        <h5 style="width: 100%">Class Ranking</h5>
                    </div>

                    <table class="bordered">
                        <thead>
                            <th>Rank</th>
                            <th>Class</th>
                            <th>Score</th>
                        </thead>
                        <tbody>
                            {% for classes in rank_classes %}
                            <tr>
                                <td>{{ classes.rank }}</td>
                                <td>{{ classes.form }}</td>
                                <td>{{ classes.marks }}</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="col-4 col-m-4 cols-12" style="padding: 10px; border: 0px solid">
            <div class="dashboard-container" style="padding: 10px; border: 0px solid; background: white">
                <div class="row" style="padding: 0; margin: 0">
                    <div class="col-12 form-header" style="padding: 0; margin: 0">
                        <h5 style="width: 100%">Subject Ranking</h5>
                    </div>

                    <table>
                        <thead>
                            <th>Rank</th>
                            <th>Code</th>
                            <th>Score</th>
                        </thead>
                        <tbody>
                            {% for subject in rank_subjects %}
                            <tr>
                                <td>{{ subject.rank }}</td>
                                <td>{{ subject.code }}</td>
                                <td>{{ subject.marks }}</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="col-5 col-m-5 cols-12" style="padding: 10px; border: 0px solid">
            <div class="dashboard-container" style="padding: 10px; border: 0px solid; background: white">
                <div class="row" style="padding: 0; margin: 0">
                    <div class="col-12 form-header" style="padding: 0; margin: 0">
                        <h5 style="width: 100%">Student Ranking</h5>
                    </div>

                    <table>
                        <thead>
                            <th>Rank</th>
                            <th>Reg No</th>
                            <th>Name</th>
                            <th>Marks</th>
                        </thead>
                        <tbody>
                            {% for student in rank_students %}
                            <tr>
                                <td>{{ student.rank }}</td>
                                <td>{{ student.regnumber }}</td>
                                <td>{{ student.fullname }}</td>
                                <td>{{ student.marks }}</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
