{% extends "autoExam/base.html" %}
{% block content1 %}
    <div id="breadcrums"></div>
    <div class="content-container vertical-align-content">
        <div class="contents">
            <div class="registration">
                <div class="row">
                    <div class="col-12 form-header">
                        <h5>Registered Students</h5>
                    </div>
                </div>

                <table class="table table-bordered table-striped table-hover with-check">
                    <thead>
                        <tr style="border-top:1px solid #CDCDCD;">
                            <th style="width:20%;">Code</th>
                            <th>Subject</th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for form in forms %}
                        <tr>
                            <td>{{ form[0] }}</td>
                            <td>{{ form[1]}}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>

            </div>
        </div>
    </div>
{% endblock %}