{% extends "autoExam/base.html" %}
{% block content1 %}
    <div id="breadcrums"></div>
    <div class="content-container vertical-align-content">
        <div class="contents">
            <div class="registration">
                <div class="row">
                    <div class="col-12 form-header">
                        <h5>Registered Students</h5>
                    </div>
                </div>

                <div style="padding: 10px 15px;">
                    <table class="table table-bordered table-striped table-hover with-check">
                    <thead>
                        <tr style="border-top:1px solid #CDCDCD;">
                            <th style="width: 20px;;">ID</th>
                            <th>Reg No</th>
                            <th>First Name</th>
                            <th>Middle Name</th>
                            <th>Last Name</th>
                            <th>Class</th>
                            <th>Stream</th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for student in students %}
                        <tr>
                            <td>{{ student[0] }}</td>
                            <td>{{ student[1] }}</td>
                            <td>{{ student[2] }}</td>
                            <td>{{ student[3] }}</td>
                            <td>{{ student[4] }}</td>
                            <td>{{ student[5] }}</td>
                            <td>{{ student[6] }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
                </div>

            </div>
        </div>
    </div>
{% endblock %}