{% extends "autoExam/base.html" %}
{% block content1 %}
    <div id="breadcrums"></div>
    <div class="content-container vertical-align-content">
        <div class="contents">
            <div class="registration">
                <div class="row">
                    <div class="col-12 form-header">
                        <h5>New Registration</h5>
                    </div>
                </div>
                <form action="" method="POST">
                    {{ form.hidden_tag() }}

                    <div class="row">
                        <div class="col-6"></div>
                        <div class="col-6">
                            <div class="input-group">
                                <label>Reg Date:
                                    {{ form.regdate( **{'aria-describedby':"regDateHelpText"} ) }}
                                </label>
                                <p class="help-text" id="regDateHelpText">{{ message }}</p>
                            </div>

                            <div class="input-group">
                                <label>Reg Number:
                                    {{ form.regnumber( **{'aria-describedby':"regNoHelpText"} ) }}
                                </label>
                                <p class="help-text" id="regNoHelpText">{{ message }}</p>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-6">
                            <div class="input-group">
                                <label>First Name:
                                    {{ form.firstname( **{'aria-describedby':"firstNameHelpText"} ) }}
                                </label>
                                <p class="help-text" id="firstNameHelpText">{{ message }}</p>
                            </div>

                            <div class="input-group">
                                <label>Middle Name:
                                    {{ form.middlename( **{'aria-describedby':"middleNameHelpText"} ) }}
                                </label>
                                <p class="help-text" id="middleNameHelpText">{{ message }}</p>
                            </div>

                            <div class="input-group">
                                <label>Last Name:
                                    {{ form.lastname( **{'aria-describedby':"lastNameHelpText"} ) }}
                                </label>
                                <p class="help-text" id="lastNameHelpText">{{ message }}</p>
                            </div>

                            <div class="input-group">
                                <fieldset class="">
                                    <label style="margin-bottom: 5px">Gender:</label>
                                    <input type="radio" name="gender" value="Male" id="male" style="margin-right:5px">Male
                                    <input type="radio" name="gender" value="Female" id="female" style="margin-right:5px; margin-left:50px;"> Female
                                </fieldset>
                                <p class="help-text" id="genderHelpText">{{ message }}</p>
                            </div>
                        </div>

                        <div class="col-6">
                            <div class="input-group">
                                <label>Class / Form:
                                    <select name="form">
                                    {% for form in forms %}
                                        <option value="{{form[0]}}">{{ form[1] }}</option>
                                    {% endfor %}
                                    </select>
                                </label>
                                <p class="help-text" id="formHelpText">{{ message }}</p>
                            </div>

                            <div class="input-group">
                                <label>Stream:
                                    <select name="stream">
                                        <option value="streama">Block A</option>
                                        <option value="streama">Block B</option>
                                        <option value="streama">Block C</option>
                                    </select>
                                </label>
                                <p class="help-text" id="streamHelpText">{{ message }}</p>
                            </div>

                            <div class="input-group">
                                <label>Admission Marks:
                                    {{ form.marks( **{'aria-describedby':"marksHelpText"} ) }}
                                </label>
                                <p class="help-text" id="marksHelpText">{{ message }}</p>
                            </div>
                        </div>
                    </div>

                    <div class="row form-footer">
                        <div class="col-12">
                            <button type="submit" class="success button">Save Details</button>
                            <button type="reset" class="alert button">Clear Details</button>
                        </div>
                    </div>
                </form>

                <!--<form action="POST">
                    <div class="row">
                        <div class="col-6"></div>
                        <div class="col-6">
                            <div class="input-group">
                                <label>Reg Date:
                                    <input type="text" placeholder="Reg Date" aria-describedby="regDateHelpText">
                                </label>
                                <p class="help-text" id="regDateHelpText"></p>
                            </div>

                            <div class="input-group">
                                <label>Reg Number:
                                    <input type="text" placeholder="Reg Number" aria-describedby="regNoHelpText">
                                </label>
                                <p class="help-text" id="regNoHelpText"></p>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-6">
                            <div class="input-group">
                                <label>First Name:
                                    <input type="text" placeholder="First Name" aria-describedby="firstNameHelpText">
                                </label>
                                <p class="help-text" id="firstNameHelpText"></p>
                            </div>

                            <div class="input-group">
                                <label>Middle Name:
                                    <input type="text" placeholder="Middle Name" aria-describedby="middleNameHelpText">
                                </label>
                                <p class="help-text" id="middleNameHelpText"></p>
                            </div>

                            <div class="input-group">
                                <label>Last Name:
                                    <input type="text" placeholder="Last Name" aria-describedby="lastNameHelpText">
                                </label>
                                <p class="help-text" id="lastNameHelpText"></p>
                            </div>

                            <div class="input-group">
                                <fieldset class="">
                                    <label style="margin-bottom: 5px">Gender:</label>
                                    <input type="radio" name="male" value="Male" id="male" style="margin-right:5px">Male
                                    <input type="radio" name="female" value="Female" id="female" style="margin-right:5px; margin-left:50px;"> Female
                                </fieldset>
                                <p class="help-text" id="genderHelpText"></p>
                            </div>
                        </div>

                        <div class="col-6">
                            <div class="input-group">
                                <label>Class / Form:
                                    <select>
                                    {% for form in forms %}
                                        <option value="{{form[0]}}">{{ form[1] }}</option>
                                    {% endfor %}
                                    </select>
                                </label>
                                <p class="help-text" id="formHelpText"></p>
                            </div>

                            <div class="input-group">
                                <label>Stream:
                                    <select>
                                        <option value="streama">Block A</option>
                                        <option value="streama">Block B</option>
                                        <option value="streama">Block C</option>
                                    </select>
                                </label>
                                <p class="help-text" id="streamHelpText"></p>
                            </div>

                            <div class="input-group">
                                <label>Admission Marks:
                                    <input type="text" placeholder="Last Name" aria-describedby="lastNameHelpText">
                                </label>
                                <p class="help-text" id="marksHelpText"></p>
                            </div>
                        </div>
                    </div>

                    <div class="row form-footer">
                        <div class="col-12">
                            <button type="submit" class="success button">Save Details</button>
                            <button type="reset" class="alert button">Clear Details</button>
                        </div>
                    </div>
                </form>-->
            </div>
        </div>
    </div>
{% endblock %}